@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
  color: var(--off-black);
  font-family: 'Inter', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profile {
  background-color: #1f1f1f;
  margin-left: .8rem;
  margin-right: .8rem;
  padding: 1.8rem;
  border-radius: .8rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bold ;
  font-size: 1.3rem;
  margin-top: 1rem;
  
}
h2 {
  font-size: .7rem;
  margin-top: .2rem;
  color: hsl(75, 94%, 57%);
  
}

p {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-size: .8rem;
}
img {
  max-width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: .8rem;
  width:100%;
}

.social-links a {
  text-decoration: none;
  color: inherit;
  background-color: #333333;
  width: 100%;
  padding: .6rem 0;
  border-radius: .4rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.social-links a:hover {
  background-color: hsl(75, 94%, 57%);
  color: #333333;
}