@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
$Mobile: 375px;
$Desktop: 1440px;

$orange: hsl(25, 97%, 53%);

$white: hsl(0, 0%, 100%);
$light-Grey: hsl(217, 12%, 63%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

$font-size-p: 15px;

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Overpass;
  background-color: $very-dark-blue;
}


