:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-size: 13px;
  font-family: 'Barlow Semi Condensed';
  background-color: var(--light-grayish-blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.main {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  grid-gap: 25px;

}


.feedback {
  padding: 25px;
  /* max-width: 346px; */
  border-radius: 10px;
  background-color: var(--moderate-violet);
  color: white;

  box-shadow: 5px 5px 10px var(--light-gray);

  /* margin-bottom: 25px; */
}


.feedback:nth-child(1) .about-author img {
 border: 3px solid var(--light-gray);
}

.feedback:nth-child(4) .about-author img {
 border: 3px solid var(--moderate-violet);
}

.about-author {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

}

.about-author img {
  border-radius: 50%;
  width: 30px;
}

.de-author a,
.de-author p  {
  margin: 0;
  padding: 0;
}

.de-author {
  margin-left: 18px;
}

.de-author p{
  opacity: 50%;
  font-weight: 500;
}
.author-name {
  font-size: 15px;
  font-weight: 600;
}

.q {
  font-weight: 500;
  color: var(--light-gray);
  opacity: 70%;
  /* font-size: 16px; */
  line-height: 1.2;
}

/* .conainer style */
.feedback:nth-child(1) {
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  /* TODO 
  1. understand background psition
  */
  background-position: right 15px top;
  /* 130px is good */
  background-size: 33%;
  /* background-size: 130px; */
}

.feedback:nth-child(2) {
  background-color: var(--very-dark-grayish-blue)
}

.feedback:nth-child(3) {
  background-color: white;
  color: var(--very-dark-grayish-blue)
}

.feedback:nth-child(3) .story {
  opacity: 70%;
  color: var(--moderate-violet);
}

.feedback:nth-child(4) {
  background-color: var(--very-dark-blackish-blue);
  color: white;
}

.feedback:nth-child(5) {
  background-color: white;
  color: var(--very-dark-grayish-blue)
}

.feedback:nth-child(5) .story {
  opacity: 70%;
  color: var(--very-dark-blackish-blue);
}


@media screen and (min-width: 1200px) {
  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    /* grid-template-rows: 2px; */
    /* margin: 10px 100px 10px 100px; */
    max-width: 1080px;
    /* max-height: 1080px; */
  
  }

  .feedback:nth-child(1) { 
    grid-column: 1 / 3;
  }

  .feedback:nth-child(2) { 
    grid-column: 3 / 4;
  }

  /* .feedback:nth-child(3) { 
    grid-column: 3 / 4;
  } */

  .feedback:nth-child(5) { 
    grid-column: 4 / 4;
    grid-row: 1 / 3;
    
  }
  .feedback:nth-child(4) { 
    grid-column: 2 / 4;
    
  }

}

/* TODO */

 @media screen and (max-width: 1199px) {

 .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    
  }

  .feedback:nth-child(5) { 
    grid-column: 1 / 4;
    /* grid-row: 1 / 1; */
  }


  .feedback:nth-child(1) { 
    grid-column: 1 / 3;
  }

  .feedback:nth-child(2) { 
    grid-column: 3 / 4;
  }

  .feedback:nth-child(4) { 
    grid-column: 2 / 4;
    
  }

}


@media screen and (max-width: 799.3px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}